Repository voxpupuli/puppet-confluence, pull requests merged in 2019-03, with the labels that each got.

#183 use service_provider fact to detect systemd, support Debian 9
  manifests/params.pp
  manifests/service.pp
  metadata.json
  spec/classes/confluence_params_spec.rb
Labels: enhancement

#182 Don't create confluence.cfg.xml
  manifests/install.pp
Labels: bug

#184 modulesync 2.5.1 & drop Puppet 4
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .msync.yml
  .travis.yml
  Dockerfile
  Gemfile
  README.md
  Rakefile
  manifests/conf.pp
  manifests/init.pp
  manifests/install.pp
  manifests/service.pp
  metadata.json
  spec/default_facts.yml
  spec/spec_helper.rb
Labels: backwards-incompatible
