Repository voxpupuli/puppet-confluence, pull requests merged in 2024-01, with the labels that each got.

#232 Fix modulesync 7.2.0 tests; Drop Debian/Ubutnu 16.04 support
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  Gemfile
  metadata.json
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
Labels: backwards-incompatible

#231 feat: stdlib9 and puppet8 compatibility
  metadata.json
Labels: enhancement

#233 Release 6.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
